/* ------------- Reset ------------ */
/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box-sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

body {
    /* Browser default lh is 1.4 */
    line-height: 1.6;
    min-height: 100vh;
}

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for those who have turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------- Utility Classes --------- */

.flex {
    display: flex;
    gap: 1rem;
}

.grid {
    display: grid;
    gap: 1rem;
    /* gap: var(--gap 1rem); <- This version wasn't working in Firefox or Edge */
}

.container {
    /* Padding and margin inline is left and right */
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* Screen reader class: Hide content for sighted users but show for screen reader */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.box {
    background-color: lightblue;
    padding: 3rem;
}